:root {
  --dark-gradient: linear-gradient(to right, #434343 0%, black 100%);
  --lighter-gradient: linear-gradient(to right, #1a1a1a 0%, #000000 100%);
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100vh;
  place-items: center;
}
body {
  background-image: var(--dark-gradient);
}
.app {
  background-image: var(--lighter-gradient);
  border-radius: 10%;
}
.app-content {
  padding: 2rem;
}
.header-box {
  margin-bottom: 1rem;
}
.header {
  color: #ddd;
}

.expressions-box {
  width: 100%;
  padding-bottom: 1rem;
  border: none;
  background-color: var(--lighter-gradient);
  color: #ddd;
  font-weight: 800;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px; /* Adjust as needed */
}
.bottom-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* First button takes twice the space */
  grid-gap: 1px; /* Adjust as needed */
}
.button {
  height: 3rem;
  width: 3rem;
  border-radius: 80%;
  border: none;
}
button {
  font-weight: 200;
  font-size: 1.5rem;
}
.zero-button {
  height: 3rem;
  width: 7rem;
}
.zero-button button {
  width: 100%;
  border-radius: 35%;
}
.expressions-box:focus {
  outline: none;
}
.orange {
  background-color: #ff9f0a;
  color: white;
}
.grey {
  background-color: #a5a5a5;
  color: black;
}
.dark-grey {
  background-color: #333333;
  color: white;
}
.button:active {
  background-color: white;
  transition: background-color 0.3s ease;
}
